name: Spell Check

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  typos:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v4

      - name: Check spelling
        uses: crate-ci/typos@v1.23.2
        with:
          files: ./
          config: ./typos.toml
